<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">

        <title>Email-Verification</title>

        <style>

        </style>
    </head>
    <body>
        <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ebebeb">
            <tbody>
                <tr>
                    <td align="center" valign="top"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>