/* Colors */
/* NoMargin */
.noMarginTop {
  margin-top: 0 !important;
}
.noMarginBottom {
  margin-bottom: 0 !important;
}
.noMarginLeft {
  margin-left: 0 !important;
}
.noMarginRight {
  margin-right: 0 !important;
}
/* Container 1280px */
.container {
  width: 1280px;
  height: auto;
  margin: 80px auto;
}
.container.right {
  float: right;
  width: auto;
  display: inline-block;
}
.container.left {
  float: left;
  width: auto;
  display: inline-block;
}
.container.align_right {
  text-align: right;
}
.container.align_center {
  text-align: center;
}
/* Grid */
.grid .row {
  display: flex;
  margin: 45px -15px;
}
.grid .col {
  margin: 0 15px;
  white-space: nowrap;
}
.grid .col.col1 {
  flex: 1;
}
.grid .col.col2 {
  flex: 2;
}
.grid .col.col3 {
  flex: 3;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  color: #545454;
}
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white {
  color: white;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-size: 35px;
  font-weight: 300;
}
/* Maintext */
.maintext {
  font-size: 16px;
  line-height: 24px;
  color: #545454;
}
.maintext.white {
  color: white;
}
/* A */
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a.margin15vert {
  margin: 0 15px;
}
a.margin15hor {
  margin: 15px 0;
}
a.marginAll {
  margin: 15px;
}
a i.left {
  margin-right: 10px;
}
a i.right {
  margin-left: 10px;
}
