@media only screen and (min-width: 320px) and (max-width: 1366px) {
  .container {
    width: 90% !important;
  }
  .container.right,
  .container.left {
    width: auto !important;
  }
  #main-nav {
    width: 90% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .mobile-only {
    display: inline-block !important;
  }
  .container.right {
    float: none !important;
    text-align: left !important;
  }
  header #open-menu {
    right: 40px;
    top: 40px;
  }
  header #sub-nav {
    display: none;
  }
  header #main-nav {
    width: 100% !important;
    height: 100%;
    overflow-y: auto;
    background: #333333;
    position: fixed;
    z-index: 100;
    left: -100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  header #main-nav.visible {
    left: 0;
  }
  header #main-nav .notification {
    display: none;
  }
  header #main-nav .right {
    float: none;
    margin: 0;
    padding: 45px;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  header #main-nav #close-menu {
    float: right;
    color: white;
    font-size: 24px;
  }
  header #main-nav .dropdown {
    display: block !important;
    margin-top: 10px;
  }
  header #main-nav span {
    margin: 2px 0 0 0;
    display: block;
  }
  header #main-nav span a {
    display: table;
    padding: 6px 0;
    margin: 0 !important;
  }
  header #main-nav span a:first-of-type {
    margin-top: 0 !important;
  }
  header #main-nav span a:last-of-type {
    margin-bottom: 0 !important;
  }
  header #main-nav span a i {
    display: none;
  }
  header #main-nav span a .notification-badge {
    height: 22px !important;
    width: 22px !important;
    line-height: 22px !important;
    top: 0 !important;
    right: 0 !important;
    float: right;
    position: relative !important;
    margin-left: 25px;
  }
  .grid .forum-box {
    display: block !important;
    width: calc(100% - 35px) !important;
    margin-left: 35px !important;
  }
  .grid .forum-box.noMarginLeft {
    margin-left: 35px !important;
  }
  .grid .row {
    display: block;
    margin: 0 0;
  }
  .grid .row .col {
    margin: 15px 0;
  }
  .cat-row {
    border: 0 !important;
  }
  .cat-row .forum-box {
    border-bottom: #E4E4E4 solid 1px;
  }
  .cat-row .forum-box:before {
    top: -10px;
    height: 105%;
  }
  .cat-row .forum-box:nth-last-child(1) {
    border-bottom: 0;
  }
  #sidebar {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  .mobile-only {
    display: inline-block !important;
  }
  .container.right {
    float: none !important;
    text-align: left !important;
  }
  header #open-menu {
    top: 40px;
    right: 40px;
  }
  header #sub-nav {
    display: none;
  }
  header #main-nav {
    width: 80% !important;
    height: 100%;
    overflow-y: auto;
    background: #333333;
    position: fixed;
    z-index: 100;
    left: -100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  header #main-nav.visible {
    left: 0;
  }
  header #main-nav .notification {
    display: none;
  }
  header #main-nav .right {
    float: none;
    margin: 0;
    padding: 45px;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  header #main-nav #close-menu {
    float: right;
    color: white;
    font-size: 24px;
  }
  header #main-nav .dropdown {
    display: block !important;
    margin-top: 10px;
  }
  header #main-nav span {
    margin: 2px 0 0 0;
    display: block;
  }
  header #main-nav span a {
    display: table;
    padding: 6px 0;
    margin: 0 !important;
  }
  header #main-nav span a:first-of-type {
    margin-top: 0 !important;
  }
  header #main-nav span a:last-of-type {
    margin-bottom: 0 !important;
  }
  header #main-nav span a i {
    display: none;
  }
  header #main-nav span a .notification-badge {
    height: 22px !important;
    width: 22px !important;
    line-height: 22px !important;
    top: 0 !important;
    right: 0 !important;
    float: right;
    position: relative !important;
    margin-left: 25px;
  }
  .grid .forum-box {
    display: block !important;
    width: calc(100% - 35px) !important;
    margin-left: 35px !important;
  }
  .grid .forum-box.noMarginLeft {
    margin-left: 35px !important;
  }
  .grid .row {
    display: block;
    margin: 0;
  }
  .grid .row .col {
    margin: 15px 0;
  }
  .cat-row {
    border: 0 !important;
  }
  .cat-row .forum-box {
    border-bottom: #E4E4E4 solid 1px;
  }
  .cat-row .forum-box:before {
    top: -10px;
    height: 105%;
  }
  .cat-row .forum-box:nth-last-child(1) {
    border-bottom: 0;
  }
  #sidebar {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 721px) and (max-width: 960px) {
  #open-menu {
    top: 40px;
    right: 40px;
  }
  .mobile-only {
    display: inline-block !important;
  }
  #main-nav {
    width: 50% !important;
    height: 100% !important;
    overflow-y: auto;
    background: #333333;
    position: fixed;
    z-index: 100;
    left: -100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  #main-nav.visible {
    left: 0;
  }
  #main-nav .notification {
    display: none;
  }
  #main-nav .right {
    float: none;
    margin: 0 !important;
    padding: 45px;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #main-nav #close-menu {
    float: right;
    color: white;
    font-size: 24px;
  }
  #main-nav .dropdown {
    display: block !important;
    margin-top: 10px;
  }
  #main-nav span {
    margin: 2px 0 0 0;
    display: block;
  }
  #main-nav span a {
    display: table;
    padding: 6px 0;
    margin: 0 !important;
  }
  #main-nav span a:first-of-type {
    margin-top: 0 !important;
  }
  #main-nav span a:last-of-type {
    margin-bottom: 0 !important;
  }
  #main-nav span a i {
    display: none;
  }
  #main-nav span a .notification-badge {
    height: 22px !important;
    width: 22px !important;
    line-height: 22px !important;
    top: 0 !important;
    right: 0 !important;
    float: right;
    position: relative !important;
    margin-left: 25px;
  }
  #sub-nav .right {
    width: auto !important;
  }
  .container.right {
    float: none !important;
    text-align: left !important;
  }
  .grid .row {
    display: block;
  }
  #sidebar {
    margin-top: 10px;
  }
  #sidebar .cat-sidebar {
    display: inline-table;
    width: 50%;
  }
  form .grid .row {
    display: flex;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1110px) {
  #main-nav .right {
    text-align: right;
  }
  #main-nav .notification .row {
    display: flex;
  }
  #sub-nav .right {
    width: auto !important;
  }
  .grid .row {
    display: block;
  }
  .grid .row .col2 {
    display: inline-block;
    width: 48%;
  }
  #sidebar {
    margin-top: 10px;
  }
  #sidebar .cat-sidebar {
    display: inline-table;
    width: 50%;
  }
  form .grid .row {
    display: flex;
  }
}
@media only screen and (min-width: 1111px) and (max-width: 1366px) {
  #main-nav .right {
    text-align: right;
  }
  #sub-nav .right {
    width: auto !important;
  }
}
