body {
  /* Colors */
  --main_text: #545454;
  --main_blue: #1560b8;
  --main_accent: #5a5e69;
}
.dark-body {
  background: #484c56;
  --main_blue: #2196f3;
}
.dark-body footer {
  background: var(--main_accent);
}
.dark-body footer a {
  color: #dadada !important;
}
.dark-body .maintext {
  color: #dadada;
}
.dark-body form span:before {
  background: #dadada;
}
.dark-body form input,
.dark-body form select,
.dark-body form textarea {
  color: #dadada;
}
.dark-body form label {
  color: #dadada;
}
.dark-body input::placeholder {
  color: #dadada;
}
.dark-body .hightlighted {
  background: var(--main_accent) !important;
}
.dark-body .categorie {
  background: var(--main_accent) !important;
}
.dark-body .categorie .cat-row:last-of-type {
  border-bottom: 0 !important;
}
.dark-body .cat-sidebar {
  background: var(--main_accent) !important;
}
.dark-body .cat-sidebar table {
  color: #dadada !important;
}
.dark-body h1,
.dark-body h2,
.dark-body h3,
.dark-body h4,
.dark-body h5,
.dark-body h6 {
  color: #dadada;
}
/* NoMargin */
.noMarginTop {
  margin-top: 0 !important;
}
.noMarginBottom {
  margin-bottom: 0 !important;
}
.noMarginLeft {
  margin-left: 0 !important;
}
.noMarginRight {
  margin-right: 0 !important;
}
/* Alerts */
.alert {
  padding: 15px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border-left: 3px rgba(0, 0, 0, 0.15) solid;
}
.alert.info {
  background: #12539F;
}
.alert.warning {
  background: #FFC107;
}
.alert.error {
  background: #f44336;
}
.alert.success {
  background: #4caf50;
}
/* Container 1280px */
.container {
  width: 1280px;
  height: auto;
  margin: 80px auto;
}
.container.hightlighted {
  padding: 40px;
  border-top: var(--main_blue) 2px solid;
  background: white;
}
.container.right {
  float: right;
  width: auto;
  display: inline-block;
  margin: 0;
  text-align: right;
}
.container.left {
  float: left;
  width: auto;
  display: inline-block;
  margin: 0;
}
.container.align_right {
  text-align: right;
}
.container.align_center {
  text-align: center;
}
/* Grid */
.grid .row {
  display: flex;
  margin: 35px -15px;
}
.grid .row:first-of-type {
  margin-top: 15px;
}
.grid .col {
  margin: 0 15px;
}
.grid .col.col1 {
  flex: 1;
}
.grid .col.col2 {
  flex: 2;
}
.grid .col.col3 {
  flex: 3;
}
.grid .col.col4 {
  flex: 4;
}
.grid .col.col5 {
  flex: 5;
}
.grid .col.col6 {
  flex: 6;
}
.grid .col.col7 {
  flex: 7;
}
.grid .col.col8 {
  flex: 8;
}
.grid .col.col9 {
  flex: 9;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  color: var(--main_text);
}
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white {
  color: white;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-size: 35px;
  font-weight: 300;
}
/* Maintext */
.maintext {
  font-size: 15px;
  line-height: 24px;
  color: var(--main_text);
  margin-bottom: 10px;
}
.maintext.white {
  color: white;
}
/* A */
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a.margin15vert {
  margin: 0 15px;
}
a.margin15hor {
  margin: 15px 0;
}
a.marginAll {
  margin: 15px;
}
a i.left {
  margin-right: 10px;
}
a i.right {
  margin-left: 10px;
}
/* Ul */
ul {
  margin: 0;
  padding: 15px 35px;
  list-style: circle;
}
/* Forms */
form {
  width: 100%;
}
form input,
form select,
form textarea {
  width: 100%;
  padding: 12px 0;
  background: transparent;
  border: 0;
  outline: none;
  color: var(--main_text);
}
form input:focus ~ span:after,
form select:focus ~ span:after,
form textarea:focus ~ span:after {
  transform: scaleX(1);
}
form input[type=checkbox],
form select[type=checkbox],
form textarea[type=checkbox],
form input[type=radio],
form select[type=radio],
form textarea[type=radio] {
  display: none;
}
form input[type=checkbox]:checked + .checkbox:after,
form select[type=checkbox]:checked + .checkbox:after,
form textarea[type=checkbox]:checked + .checkbox:after {
  background: var(--main_blue);
  left: 20px;
}
form input[type=radio]:checked + .radio:after,
form select[type=radio]:checked + .radio:after,
form textarea[type=radio]:checked + .radio:after {
  transform: scale(1);
}
form input[type=radio]:checked + .radio:before,
form select[type=radio]:checked + .radio:before,
form textarea[type=radio]:checked + .radio:before {
  border-color: var(--main_blue);
}
form input[type=range],
form select[type=range],
form textarea[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
form input[type=range]::-webkit-slider-runnable-track,
form select[type=range]::-webkit-slider-runnable-track,
form textarea[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #949494;
  border-radius: 100px;
}
form input[type=range]::-webkit-slider-thumb,
form select[type=range]::-webkit-slider-thumb,
form textarea[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: var(--main_blue);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-top: -5px;
}
form input[type=range]::-moz-range-track,
form select[type=range]::-moz-range-track,
form textarea[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #949494;
  border-radius: 100px;
}
form input[type=range]::-moz-range-thumb,
form select[type=range]::-moz-range-thumb,
form textarea[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  background: var(--main_blue);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-top: -5px;
}
form label {
  font-size: 16px;
  line-height: 24px;
  color: var(--main_text);
  cursor: pointer;
}
form label.checkbox {
  padding-left: 45px;
}
form label.checkbox:before {
  width: 35px;
  height: 15px;
  border-radius: 100px;
  background: #dadada;
  display: inline-block;
  content: '';
  margin: 2px 10px 0 0;
  position: absolute;
  left: 0;
  top: 2px;
}
form label.checkbox:after {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 100px;
  background: var(--main_text);
  left: -5px;
  display: block;
  content: '';
  top: 1px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
form label.radio {
  padding-left: 27px;
}
form label.radio:before {
  height: 15px;
  width: 15px;
  border: 2px solid var(--main_accent);
  border-radius: 100px;
  display: inline-block;
  content: '';
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
form label.radio:after {
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  content: '';
  transform: scale(0);
  background: var(--main_blue);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 100px;
  top: 6px;
  left: 6px;
}
form span:before {
  width: 100%;
  height: 1px;
  background: var(--main_accent);
  display: block;
  content: '';
}
form span:after {
  width: 100%;
  height: 2px;
  background: var(--main_blue);
  display: block;
  content: '';
  transform: scaleX(0);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-top: -1px;
}
form button {
  border: 0;
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  cursor: pointer;
}
/* Mainbutton */
.mainbutton {
  background: var(--main_blue);
  padding: 14px 24px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
  display: inline-block;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-top: 5px;
}
.mainbutton:hover {
  background: #1a78bf;
}
.mainbutton.small {
  font-size: 11px;
  padding: 12px 22px;
}
.mainbutton i.right {
  margin-left: 10px;
}
.mainbutton i.left {
  margin-right: 10px;
}
body,
html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  background: #F3F3F3;
  overflow-y: auto;
}
.maintext a {
  color: var(--main_blue);
  text-decoration: none;
}
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dark-overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.dark-overlay.visible {
  opacity: 1;
  z-index: 50;
}
.mobile-hidden {
  display: none !important;
}
header {
  background: url(../images/header_background.png) no-repeat top;
  background-size: cover;
  overflow-y: auto;
}
header #open-menu {
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
  z-index: 50;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header #open-menu.dark {
  background: rgba(0, 0, 0, 0.5);
}
header #hero {
  margin: 120px auto;
}
header #main-nav {
  width: 1280px;
  margin: auto;
  height: auto;
}
header #main-nav .container {
  margin: 50px auto;
}
header #main-nav .container a {
  color: white;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin: 0 20px;
}
header #main-nav .container a:hover {
  color: rgba(255, 255, 255, 0.8);
}
header #main-nav .container a.active:hover {
  color: white;
}
header #main-nav .container a i {
  font-size: 25px;
}
header #main-nav .container a .notification-badge {
  width: 15px;
  height: 15px;
  background: #c63f41;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 100px;
}
header #sub-nav {
  background: rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0;
}
header #sub-nav .container {
  margin: 0 auto;
  color: white;
}
header #sub-nav a {
  font-size: 14px;
}
.forums .categorie {
  background: white;
}
.forums .cat-row {
  border-bottom: #E4E4E4 solid 1px;
}
.forums .panel-head {
  padding: 30px;
  border-top: var(--main_blue) 2px solid;
  border-bottom: 1px #E4E4E4 solid;
}
.forums .panel-head h4 {
  margin: 0;
}
.forums .forum-box {
  padding: 30px;
  margin-left: 65px;
  vertical-align: top;
  display: inline-block;
  width: calc(50% - 50px);
}
.forums .forum-box:before {
  height: 100%;
  width: 1px;
  background: #E4E4E4;
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  display: block;
}
.forums .forum-box:after {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 15px;
  height: 15px;
  border: 8px white solid;
  border-radius: 100px;
  transform: translate(0, -50%);
  content: '';
  display: block;
  background: var(--main_blue);
  box-shadow: 0 0 0 1px #E4E4E4;
}
.forums .forum-box h4 {
  margin-bottom: 5px;
}
.forums .forum-info {
  color: #B2B2B2;
}
.forums .forum-info i {
  display: inline;
  margin-right: 5px;
}
.forums .forum-info h6 {
  display: inline;
  margin: 0;
  color: #B2B2B2;
}
.forums .latest-post {
  margin-top: 15px;
}
.forums .latest-post img {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 38px;
  border-radius: 100px;
}
.forums .latest-post .content {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 55px);
}
.forums .latest-post .content h5,
.forums .latest-post .content h6 {
  margin-bottom: 4px;
}
.forums .latest-post .content .date {
  color: #989898;
}
#sidebar .panel-head {
  padding: 30px 30px 10px 30px;
  border-top: var(--main_blue) 2px solid;
}
#sidebar .panel-head h4 {
  margin: 0;
}
#sidebar .cat-sidebar {
  background: white;
  margin-top: 45px;
}
#sidebar .cat-sidebar:first-of-type {
  margin-top: 0;
}
#sidebar .content {
  padding: 0 30px 30px 30px;
}
#sidebar #user-account img {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
#sidebar #user-account table {
  display: inline-table;
  width: calc(100% - 90px);
  font-size: 11px;
  color: var(--main_text);
  vertical-align: middle;
}
footer {
  background: #e4e4e4;
  overflow-y: auto;
}
footer .container {
  margin: 20px auto;
}
footer .container a {
  color: #5a5a5a;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  margin-right: 25px;
}
footer .container a:last-of-type {
  margin-right: 0;
}
#user-rules {
  max-height: 500px;
  overflow-y: hidden;
}
#loadmore {
  width: 60px;
  height: 60px;
  background: white;
  bottom: -60px;
  border-radius: 100px;
  margin: auto;
}
