html,
body {
  margin: 0;
  background: #F4F4F4;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.header {
  background: #445282;
}
.header nav.primary {
  line-height: 60px;
}
.header nav.primary .left {
  display: inline-block;
  width: calc(100% - 60px);
}
.header nav.primary .left a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
}
.header nav.primary .left a:hover,
.header nav.primary .left a:active {
  color: rgba(255, 255, 255, 0.7);
}
.header nav.primary .left a.active {
  color: #FFFFFF;
}
.header nav.primary .left a:not(:first-child) {
  margin-left: 64px;
}
.header nav.primary .right {
  width: 60px;
  text-align: center;
  display: inline-block;
  float: right;
}
.header nav.primary .right a#dropdown {
  margin-left: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
}
.header nav.primary .right a#dropdown:hover,
.header nav.primary .right a#dropdown:active {
  color: rgba(255, 255, 255, 0.7);
}
.header nav.primary .right a#dropdown.active {
  color: #FFFFFF;
}
.header nav.primary .right img {
  vertical-align: middle;
  border-radius: 16px;
}
.header nav.secondary {
  line-height: 40px;
  font-weight: 500;
}
.header nav.secondary a {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  padding: 0 12px;
  box-sizing: border-box;
  display: inline-block;
}
.header nav.secondary a:hover,
.header nav.secondary a:active {
  color: rgba(255, 255, 255, 0.7);
}
.header nav.secondary a.active {
  color: #FFFFFF;
  border-bottom: 4px solid #7289DA;
}
.header nav.secondary a:not(:first-child) {
  margin-left: 32px;
}
.header nav.secondary a .badge {
  color: #FFFFFF;
  background: #7289DA;
  margin-left: 6px;
  padding: 5px 8px;
  border-radius: 13px;
}
@media all and (min-width: 1081px) {
  .header nav {
    width: 82%;
    min-width: 1000px;
    margin: 0 auto;
  }
}
.header .page-title {
  box-sizing: border-box;
  display: block;
}
@media all and (min-width: 1081px) {
  .header .page-title {
    width: 82%;
    min-width: 1000px;
    margin: 0 auto;
  }
}
.header .page-title h1 {
  font-weight: 100;
  color: #FFFFFF;
  margin: 0;
  line-height: 96px;
}
.main {
  padding-bottom: 100px;
}
@media all and (min-width: 1081px) {
  .main {
    width: 82%;
    min-width: 1000px;
    margin: 0 auto;
  }
}
.main table {
  width: 100%;
  border-collapse: collapse;
}
.main table thead {
  color: rgba(0, 0, 0, 0.33);
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
  line-height: 60px;
}
.main table tbody tr {
  height: 64px;
}
.main table tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main table tbody tr img,
.main table tbody tr .inliner {
  display: inline-block;
  vertical-align: middle;
}
.main table tbody tr img {
  border-radius: 24px;
}
.main table tbody tr .inliner span {
  display: block;
  padding-left: 16px;
  line-height: 20px;
}
.main table tbody tr .material-icons {
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.main table tbody tr .material-icons:hover,
.main table tbody tr .material-icons.active {
  color: #7289DA;
}
a.floating-button {
  text-align: center;
  background: #7289DA;
  position: absolute;
  right: 9%;
  margin-top: -32px;
  padding: 12px;
  border-radius: 32px;
  color: #FFFFFF;
  transition: all 0.3s ease;
  cursor: pointer;
}
a.floating-button:hover {
  border-radius: 16px;
}
a.floating-button i {
  font-size: 40px;
}
.pagination {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.pagination a {
  color: #FFFFFF;
  background: #7289DA;
  padding: 17px 15px;
  line-height: 50px;
  box-sizing: border-box;
}
.pagination a:first-child {
  margin-right: 32px;
}
.pagination a:last-child {
  margin-left: 32px;
}
.pagination a.inactive {
  background: rgba(0, 0, 0, 0.05);
}
aside.footer-information {
  background: #7289DA;
  color: #FFFFFF;
  padding: 12px 36px;
  border-radius: 6px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.uppercase {
  text-transform: uppercase;
}
.primary-text {
  color: #7289DA;
  font-weight: 500;
  font-size: 16px;
}
.material-icons {
  display: inline-flex;
  vertical-align: middle;
}
